- provide(:title, "Current Active Members")
%h1 Current Active Members
- @users.each do |u|
  .col-md-5.member-listing
    %h3= u.name
    .col-md-6
      = image_tag u.avatar.url(:thumb), class: 'img-thumbnail'
      %p Family: #{u.division}
      %p Class: #{u.extra_info}
      %p Big Brother: #{u.parent_name}
    %p.col-md-6= u.about
