- provide(:title, "Site Map")
%h1 Site Map
%ol
  %li= link_to leaderboard_path, leaderboard_path
  %li= link_to event_types_path, event_types_path
  %li= link_to events_path, events_path
  %li= link_to new_event_path, new_event_path
  %li= link_to links_path, links_path
  %li= link_to pending_approvals_path, pending_approvals_path
  %li= link_to update_users_path, update_users_path
  %li= link_to excuses_path, excuses_path
  %li= link_to pending_excuses_path, pending_excuses_path
  %li= link_to fines_path, fines_path
  %li= link_to outstanding_fines_path, outstanding_fines_path
  %li= link_to org_chart_admin_path, org_chart_admin_path
  %li= link_to org_chart_index_path, org_chart_index_path
  %li= link_to calendars_path, calendars_path
  %li= link_to members_path, members_path
