= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .col-sm-4
    %h2.form-signin-heading Edit your profile

    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address'

    -if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div Currently waiting confirmation for: #{ resource.unconfirmed_email }

    .form-group
      = f.label :password, 'New password'
      = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Leave blank if you dont want to change it'

    .form-group
      = f.label :password_confirmation, 'Confirm new password'
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Leave blank if you dont want to change it'

    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control', placeholder: resource.first_name

    .form-group
      = f.label :last_name
      = f.text_field :last_name, class: 'form-control', placeholder: resource.last_name

    .form-group
      = f.label :phone_number, 'Phone number (no digit seperators)'
      = f.phone_field :phone_number, class: 'form-control', placeholder: resource.phone_number

    .form-group
      = f.label :address
      = f.text_field :address, class: 'form-control', placeholder: resource.address

    %hr
    %h4 Undergrads Only:

    .form-group
      %p <strong> Profile Picture </strong>
      %p To edit your profile picture, talk to your administrator.

    .form-group
      = f.label :about, 'Short Bio'
      = f.text_area :about, class: 'form-control', placeholder: resource.about

    .form-group
      = f.label :two_p_number, '2P Number'
      = f.text_field :two_p_number, class: 'form-control', placeholder: resource.two_p_number

    .form-group
      = f.label :peoplesoft_number
      = f.number_field :peoplesoft_number, class: 'form-control', placeholder: resource.peoplesoft_number
    %hr
    .form-group
      = f.label :current_password, 'Current password'
      = f.password_field :current_password, autocomplete: 'off', class: 'form-control', placeholder: 'Needed to confirm changes'

    = f.submit 'Update', class: 'btn btn-lg btn-primary'
