-provide(:title, @event.name)
%h1 #{@event.name}
%p Date: #{format_date(@event.date)}
%p Fine: $#{@event.fine}
%p Event Type: #{@event.event_type.name}
%p #{@event.format_self_submit_attendance(current_user)}
%p Semester: #{format_semester(@event.semester)}

.col-sm-3
  %h3 Present Members
  =render partial: 'attendance/events/event_attendee', collection: @attended, as: :user

.col-sm-3
  %h3 Absent Members
  =render partial: 'attendance/events/event_attendee', collection: @absent, as: :user

.col-sm-3
  %h3 Excused Members
