%h2 Add a new quick link
.col-md-8
  =form_for(@new_link, html: {class: 'form-horizontal'}) do |f|

    .form-group
      = f.label :name, 'Link Name', class: 'col-md-2'
      .col-sm-10
        = f.text_field :name, placeholder: 'Example Link', class: 'form-control'

    .form-group
      = f.label :url, 'Link URL', class: 'col-md-2'
      .col-sm-10
        = f.text_field :url, placeholder: 'http://example.com', class: 'form-control'

    .form-group
      = f.label :expiration, 'Expiration Date', class: 'col-md-2'
      .col-sm-10
        = f.date_field :expiration, placeholder: '12/03/2020', class: 'form-control'
    = f.hidden_field :user_id, value: current_user.id

    = f.submit class: 'btn btn-primary'
