%h1 Users

= link_to "All Users", action: "approve_users"
|
= link_to "Users awaiting approval", :action => "approve_users", :approved => "false"

%table
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.approved
      %td= link_to "Edit", root_path
