%h1 Users Awaiting Approval
.bs-callout
  .bs-callout-danger
    %h4 Caution when approving a user
    %p Carefully verify each user's data before approving them. It is your job to make sure their data is accurate and complete.
    %p If you approve someone as the wrong status just change it on the #{link_to "\"Update Status\"", update_status_path} page

- @users.each do |u|
  %h4= u.name
  %p= 'Email: ' + u.email
  %p= 'Peoplesoft Number: ' + (u.peoplesoft_number.blank? ? '(none provided)' : u.peoplesoft_number)
  %p= '2P Number: ' + (u.two_p_number.blank? ? '(none provided)' : u.two_p_number)
  %p= 'Address: ' + (u.address.blank? ? '(none provided)' : u.address)
  %p= 'Phone Number: ' + (u.phone_number.blank? ? '(none provided)' : u.phone_number.to_s)
  %p= 'About: ' + (u.about.blank? ? '(none provided)' : u.about)
  %p= 'Profile Picture: '
  %p= image_tag u.avatar.url(:thumb), class: 'img-thumbnail'
  %p= button_to 'Approve as Active', approve_user_path(id: u.id, approve: true, status: :active), class: 'btn btn-success'
  %p= button_to 'Approve as Alumni', approve_user_path(id: u.id, approve: true, status: :alumni), class: 'btn btn-success'
  %p= button_to 'Reject User', reject_user_path(id: u.id), class: 'btn btn-danger'
