- provide(:title, "Update Users")
.container
  .row
    %h1 Update User Status
    .col-md-4
      = render partial: 'admin/users/status_update', locals: { title: 'To Inactive', status: User::INACTIVE, users: User.active + User.alumni }
    .col-md-4
      = render partial: 'admin/users/status_update', locals: { title: 'To Alumni', status: User::ALUMNI, users: User.active + User.inactive }
    .col-md-4
      = render partial: 'admin/users/status_update', locals: { title: 'To Active', status: User::ACTIVE, users: User.alumni + User.inactive }

.container
  .row
    %hr
    %h1 Update User Positions
    .bs-callout.bs-callout-warning
      %h4 Users may only hold one position
      %p Users may only hold one position at a time. If you need additional functionality please contact your administrator.
    = render partial: 'admin/users/position_update', collection: @execs, as: :position
    %hr
    %h4 Add a new position
    = render partial: 'admin/users/position_update', locals: { position: @new_position }

.container
  .row
    %hr
    %h1 Update Event Type Admin(s)
    .bs-callout.bs-callout-warning
      %h4 Users may only administrate one event type at a time
      %p These positions correlate to event types. A user may be assigned to manage a specific event type.
      %p Leave the user blank if you want to be the sole administrator of an event type.
    = render partial: 'admin/users/position_update', collection: @event_type_admins, as: :position

.container
  %hr
  %h1 Edit User Profile Information
  .col-md-4
    %h3 Active
    %table.table.table-striped
      %th ID
      %th Name
      %th Edit Link
      = render partial: 'admin/users/user_edit', collection: User.active, as: :user
  .col-md-4
    %h3 Inactive
    %table.table.table-striped
      %th ID
      %th Name
      %th Edit Link
      = render partial: 'admin/users/user_edit', collection: User.inactive, as: :user
  .col-md-4
    %h3 Alumni
    %table.table.table-striped
      %th ID
      %th Name
      %th Edit Link
      = render partial: 'admin/users/user_edit', collection: User.alumni, as: :user
